/* imported fonts */

@font-face {
    font-family: 'cooper_hewittbold';
    src: url('font/cooperhewitt-bold-webfont.woff2') format('woff2'),
        url('font/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('font/cooperhewitt-light-webfont.woff2') format('woff2'),
        url('font/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittthin';
    src: url('font/cooperhewitt-thin-webfont.woff2') format('woff2'),
        url('font/cooperhewitt-thin-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;

}


/* Variables */

:root {

    /* colors */

    --background-color: #16323D;
    --nav-color: transparent;
    --nav-text-color: #8EC2D6;
    --nav-text-color-hover: #fff;
    --main-title-color: #8EC2D6;
    --secondary-title-color: #8EC2D6;
    --third-title-color: #8EC2D6;
    --fourth-title-color: #8EC2D6;
    --main-text-color: #0B8ABD;

    /* fonts */

    --nav-font: 'cooper_hewittlight', arial, sans-serif;
    --main-title-font: 'cooper_hewittthin', arial, sans-serif;
    --secondary-title-font: 'cooper_hewittlight', arial, sans-serif;
    --third-title-font: 'cooper_hewittthin', arial, sans-serif;
    --fourth-title-font: 'cooper_hewittthin', arial, sans-serif;
    --main-text-font: 'cooper_hewittlight', arial, sans-serif;


    /* sizes */
    --base-size: 8pt;
    --main-title-size: calc(var(--base-size)*2);
    --nav-text-size: calc(var(--base-size)*2);
    --secondary-title-size: calc(var(--base-size)*8);
    --third-title-size: calc(var(--base-size)*4);
    --fourth-title-size: --main-title-size;
    --main-text-size: calc(var(--base-size)*3);

    /* spacing */

    --spacing: 8px;
    --spacing-2: calc(var(--spacing)*2);
    --spacing-4: calc(var(--spacing)*4);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

em {
    font-style: normal;
}

h3 {
    color: var(--third-title-color);
    font-family: var(--third-title-font);
    font-size: var(--third-title-size);
}

h4 {
    color: var(--fourth-title-color);
    font-family: var(--fourth-title-font);
    font-size: var(--fourth-title-size);
}


p {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

p.visible {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

iframe {
    box-shadow: 0px 5px 10px black;
    border-radius: 10px;
    transition: all 350ms ease;
    width: 100%;
    border: 0;
}

iframe:hover {
    box-shadow: 0px 0px 10px #8ec2d6;
}

/* ANCRES */


.foxPrint,
.foxPrintTwo,
.foxPrintThree {
    mix-blend-mode: difference;
    position: fixed;
    right: 20px;
    transform: rotate(-10deg);
    transition: all 250ms ease-in-out;
    z-index: 5;
}

.foxPrint:hover,
.foxPrintTwo:hover,
.foxPrintThree:hover {
    transform: scale(1.1);
}

.foxPrint,
.foxPrint img,
.foxPrint a {
    width: 50px;
    top: 100px;
}

.foxPrintTwo,
.foxPrintTwo img,
.foxPrintTwo a {
    width: 45px;
    top: 180px;
    transform: rotate(5deg);
}

.foxPrintThree,
.foxPrintThree img,
.foxPrintThree a {
    width: 40px;
    top: 260px;
}


/* BURGER MENU */

nav {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    transition: all 1s cubic-bezier(0.42, 0, 0.14, 1.01);
}

.nav-logo {
    display: block;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 4;
}


.navlink-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    z-index: 1;
    position: relative;
    right: -100vw;
    transition: all 1.5s cubic-bezier(0.42, 0, 0.14, 1.01);
    mix-blend-mode: difference;
}

.menu li a {
    font-size: 30px;
    transition: 350ms;
    color: var(--nav-text-color-hover);
    font-family: var(--nav-font);
    font-size: var(--nav-text-size);
    letter-spacing: 20px;

}

.menu li a:hover {
    color: var(--nav-text-color-hover);
    text-shadow: 0px 20px 5px var(--nav-text-color-hover);
}

.burger-menu {
    position: absolute;
    width: 26px;
    height: 4px;
    right: 22px;
    top: 37px;
    background-color: var(--nav-text-color);
    border-radius: 8px;
    z-index: 2;
    transition: all 250ms cubic-bezier(0.42, 0, 0.14, 1.01);
}

.burger-menu:before,
.burger-menu:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: var(--nav-text-color);
    border-radius: 8px;
    transition: all 250ms cubic-bezier(0.42, 0, 0.14, 1.01);
}

.burger-menu:before {
    top: -10px;
    width: 26px;
}

.burger-menu:after {
    top: 10px;
    width: 26px;
}

.toggle-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 3;
    right: 20px;
    top: 24px;
    cursor: pointer;
    opacity: 0;
}

/* animation de la croix, disparition de la barre du milieu */

.navlink-container input:checked~.burger-menu {
    background-color: transparent;
}

.navlink-container input:checked~.burger-menu:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navlink-container input:checked~.burger-menu:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navlink-container input:checked~.menu {
    right: 0;
}

.burger-menu,
.toggle-btn {
    display: block;
}

/* VIDEO BACKGROUND */

.videoZone {
    display: flex;
    top: -80px;
    position: relative;
    background-color: #0B8ABD;
    z-index: -1;
}

.videoZone video {
    width: 100%;
    box-shadow: 0px 3px 15px 0px black;
    position: relative;
}

.works {
    position: absolute;
    top: 40vh;
    left: 80px;
    z-index: 10;
    width: 80%;
    height: fit-content;
}

#h1Home {
    color: var(--main-title-color);
    font-family: var(--main-title-font);
    font-size: var(--main-title-size);

    letter-spacing: 10px;
}

#grapher,
#dev,
#cgi {
    color: var(--secondary-title-color);
    font-family: var(--secondary-title-font);
    font-size: var(--secondary-title-size);
    position: absolute;
    top: 20px;
    text-shadow: 2px 2px 10px black;

}

#grapher {
    animation: grapher 15s infinite;
}

#dev {
    animation: dev 15s infinite;
}

#cgi {
    animation: cgi 15s infinite;
}

@keyframes grapher {
    0% {
        opacity: 0;
        filter: blur(10px);
    }

    8% {
        opacity: 1;
        filter: blur(0px);
    }

    28% {
        opacity: 1;
        filter: blur(0px);
    }

    33% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 0;
    }
}

@keyframes dev {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
        filter: blur(10px);
    }

    43% {
        opacity: 1;
        filter: blur(0px);
    }

    60% {
        opacity: 1;
        filter: blur(0px);
    }

    65% {
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        opacity: 0;
    }
}

@keyframes cgi {
    0% {
        opacity: 0;

    }

    65% {
        opacity: 0;
        filter: blur(10px);
    }

    70% {
        opacity: 1;
        filter: blur(0px);
    }

    90% {
        opacity: 1;
        filter: blur(0px);
    }

    100% {
        opacity: 0;
        filter: blur(10px);
    }
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -70px;
    right: 3vw;
}

.socialMedia .mediaLogo a {
    margin-left: var(--spacing-4);
    margin-right: var(--spacing-4);
}

.socialMedia .mediaLogo a img {
    width: var(--spacing-4);
    height: var(--spacing-4);
    box-shadow: 5px 5px 13px rgba(61, 25, 26, 1);
    transition: all 150ms ease-in-out;
}

.mediaLogo a img:hover {
    transform: scale(1.1);
}

/* Fin du header */


/* Flex Grid About Me */

p,
.softLogos {
    color: var(--main-text-color);
    font-family: var(--main-text-font);
    font-size: var(--main-text-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
}

.gridAboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: auto 10vw;
    position: relative;
}

.gridAboutMe::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 80vw;
    height: 3px;
    bottom: 0;
}

.aboutMe {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: absolute;
    left: 200px;
    top: 0px;
    color: var(--third-title-color);
    font-family: var(--secondary-title-font);
    font-size: var(--secondary-title-size);
    mix-blend-mode: difference;
}

#profilePicture {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0.7;
    position: absolute;
    top: -245px;
    margin-left: -100px;
    z-index: -2;
}

.one {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: right;
}


.two {
    grid-column: span 2;
    grid-row: 3 / 4;
    z-index: 1;
}

.three {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-right: 50px;
}

.softLogos {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.logo {
    width: 64px;
    margin-left: auto;
}

.softLogos::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 3px;
    height: 20vh;
    left: 0px;
}

.four {
    grid-column: span 2;
    grid-row: 5 / 6;
}

/* Flex Grid SOME HIGHLIGHTS PROJECTS */

.gridHighlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: auto;
    margin: auto 10vw;
    position: relative;
    top: 0px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.gridHighlights::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 80vw;
    height: 3px;
    bottom: 0;
}

.highlights {
    grid-column: span 2;
    grid-row: 1 / 2;
    color: var(--third-title-color);
    font-family: var(--secondary-title-font);
    font-size: var(--secondary-title-size);
    text-align: right;
    margin-top: 50px;
}

.introHighlights {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.caseDescriptionTemple {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.titleTemple {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    letter-spacing: var(--spacing-2);
}

.titleApril {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    letter-spacing: var(--spacing-2);
}

.descriptionTemple {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: auto 50px;
}

.gridHighlights iframe {
    margin-left: auto;
}

.titleTemple::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 3px;
    height: 25vh;
    left: 0;
}

/* Flex Grid Travel */

.gridTravel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 400px 100px 1fr;
    margin: auto 10vw;
    position: relative;
    top: 0px;
    margin-bottom: 50px;
}

.gridTravel::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 80vw;
    height: 3px;
    bottom: -100px;
}

.introTravel {
    grid-column: span 2;
    grid-row: 1 / 2;
}

.caseDescriptionVietnam {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.titleVietnam,
.titleMay,
.descriptionVietnam {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.titleVietnam {
    letter-spacing: var(--spacing-2);

}

.titleMay {
    letter-spacing: var(--spacing-2);
}

.descriptionVietnam {
    margin: auto 50px;
}

.videoVietnam {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 0;
}

.caseDescriptionVietnam::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 3px;
    height: 25vh;
}

.titlePictures {
    grid-column: span 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAROUSEL */

#grid {
    grid-column: span 2;
    grid-row: 4 / 5;
    display: flex;
    height: auto;
}

.grid-item img {
    width: 30vw;
}

.grid-item {
    min-width: 2vw;
    flex: 1 1 0px;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

.grid-item:hover {
    flex: 1 1 20vw;
    opacity: 1;
    box-shadow: 0 0 10px #8ec2d6;
    background-color: #8EC2D6;
    z-index: 2;
    height: auto;
    border-radius: 0 0 5px 5px;
}

#popup-content {
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(10vw);
    background-color: #0B8ABD;
}

#popup-bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

#popup-bg.active {
    display: contents;
}

#popup-img {
    width: 60vw;
    height: auto;
    position: relative;
}

#popup-close {
    position: absolute;
    top: 0px;
    right: 0;
    /* transform: translateX(10vw); */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.2s ease;
}

#popup-close:hover {
    background-color: orange;
}

/* GRIDFESTIVAL */

.gridFestival {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto 10vw;
    position: relative;
    top: 0px;
    margin-bottom: 50px;
}

.introFestival {
    grid-column: span 2;
    grid-row: 1 / 2;
}

.caseDescriptionDantesk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.titleFestival,
.titleNovember {
    letter-spacing: var(--spacing-2);
}

.descriptionDantesk {
    margin: auto 50px;
}

.caseDescriptionDantesk::before {
    content: "";
    position: absolute;
    background-color: var(--main-title-color);
    border-radius: 10px;
    width: 3px;
    height: 25vh;
    left: 0px;
}

.danteskVideo {
    margin-left: auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.titleStages {
    grid-column: span 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stages {
    width: 20vw;
}

.stagesAlign {
    grid-column: span 2;
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
}

footer {
    position: relative;
}

.footMenu {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    position: relative;
    margin-bottom: 50px;
}

.footMenu li a,
.copyright {
    color: var(--nav-text-color);
    font-family: var(--nav-font);
    font-size: var(--nav-text-size);
    transition: all 250ms ease;
}

.footMenu li a:hover {
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
}

.footMenuLink {
    display: flex;
    position: relative;
}

.footMenuLink span {
    color: var(--nav-text-color);
    font-family: var(--nav-font);
    font-size: var(--nav-text-size);
    position: absolute;
    top: 12pt;
    left: 0;
    transform: rotateX(180deg);
    opacity: 0.5;
    filter: blur(1px);
}

.copyright {
    position: absolute;
    right: 10px;
    bottom: -40px;
    font-size: var(--base-size);
}

/* RESPONSIVE VERSION MOBILE */

@media screen and (max-width: 768px) {

    h1,
    h2,
    em,
    .highlights,
    .aboutMe {
        font-size: 24pt;
    }

    .menu li {
        padding: 3px 0;
    }

    h3,
    p {
        font-size: var(--nav-text-size);
        text-align: justify;
        max-width: 320px;
        margin: auto;
        margin-top: 50px;
    }

    .foxPrint,
    .foxPrintTwo,
    .foxPrintThree,
    .carousel,
    .titlePictures,
    .softLogos::before,
    .titleTemple::before,
    .caseDescriptionVietnam::before,
    .caseDescriptionDantesk::before {
        display: none;
    }

    #grid {
        display: none;
    }

    aside {
        margin: auto;
    }

    nav {
        position: absolute;
        overflow: hidden;
        height: 500px;
    }

    .menu {
        position: absolute;
        top: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .logo-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: -1vh;
    }

    .navlink-container {
        width: 100%;
        height: 20vh;
    }

    .navlink-container ul,
    .videoZone,
    .gridAboutMe,
    .gridHighlights,
    .gridTravel,
    .gridFestival,
    .mainHome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .videoZone {
        top: 0;
    }

    .mainHome {
        width: 90vw;
        margin: auto;
    }

    .gridTravel::before {

        bottom: 0;
    }

    .socialMedia {
        justify-content: center;
        right: auto;
    }

    .videoZone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works {
        top: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 100%;
    }

    #h1Home {
        text-align: justify;
        letter-spacing: normal;
    }

    #grapher,
    #dev,
    #cgi {
        top: -25px;
        text-align: center;
    }

    .my-picture {
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profilePicture {
        width: 100%;
        margin: auto;
    }

    .socialMedia {
        top: -60px;
    }

    .socialMedia .mediaLogo a img {
        width: 23px;
        margin-top: 72px;
        height: auto;
    }

    .socialMedia .mediaLogo a img {

        .gridAboutMe {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .gridAboutMe::before {
            bottom: -20px;
        }

        .aboutMe {
            width: auto;
            position: unset;
        }

        .one {
            text-align: justify;
            margin-top: 20px;
        }

        .three {
            padding-right: 0;
            text-align: justify;
        }

        .softLogos {
            gap: 30px;
            width: 100%;
            margin: 20px 0;
        }

        .softLogos img {
            width: 30px;
            margin: auto;
        }

        .gridHighlights {
            position: relative;
            padding-bottom: 0px;
            margin-bottom: 50px;
        }

        .highlights {
            text-align: center;
        }

        .caseDescriptionTemple {
            margin-left: 0;
        }

        .titleTemple {
            letter-spacing: 0px;
            text-align: center;
        }

        .titleApril {
            position: inherit;
            top: auto;
            margin: auto;
            letter-spacing: 0;
            left: 0;
        }

        .descriptionTemple {
            text-align: justify;
            margin: 50px auto;
        }

        .gridHighlights iframe {
            width: auto;
            margin-left: 0;
            height: auto;
            margin-top: 20px;
        }

        .gridHighlights::before {
            bottom: -50px;
        }

        .gridTravel {
            margin-bottom: 0px;
        }

        .gridTravel iframe {
            width: fit-content;
            height: auto;
            margin: 50px 0;
        }

        .caseDescriptionVietnam {
            margin-right: 0;
            align-items: center;
        }

        .caseDescriptionDantesk {
            margin-left: 0;
            align-items: center;
        }

        .descriptionDantesk {
            margin: 50px 0;
        }

        .titleVietnam,
        .titleMay {
            letter-spacing: 0;
        }

        .descriptionVietnam {
            margin: 20px 0;
        }

        .titleFestival {
            position: inherit;
            letter-spacing: normal;
            right: auto;
        }

        .titleNovember {
            position: inherit;
            letter-spacing: normal;
            right: auto;
            top: auto;
        }

        .descriptionDantesk {
            margin-right: auto;
        }

        .danteskVideo {
            width: auto;
            margin-left: 0;
            height: auto;
            margin-top: 20px;
        }

        .stagesAlign {
            flex-direction: column;
            margin-bottom: 50px;
        }

        .stages {
            width: auto;
            margin-left: 0;
            height: auto;
            margin-top: 20px;
        }

        .footMenu {
            width: 100vw;
            bottom: 0px;
            margin-bottom: 0;
        }
    }

    /* RESPONSIVE VERSION TABLETTE */

    @media screen and (min-width: 768px) and (max-width: 1200px) {

        .works {
            top: 20vh;
        }

        .menu {
            overflow: hidden;
        }



        .socialMedia {
            right: 8vw;
        }

        .logo {
            width: 40px
        }

        .aboutMe {
            left: 0px;
        }

        .descriptionTemple {
            margin: auto 20px;
        }

        .descriptionVietnam {
            margin: 50px 20px;
        }

        .gridTravel {
            grid-template-rows: 300px 600px 50px 1fr;
        }
    }

}